@page "/"

<div class="top-content">
    <h1>Welcome to Great Burger Managment System!</h1>
    <p>Please select where you would like to go from the menu.</p>
</div>

<style>
    /*Here is the styling for the text in our home page to display it at the top and include space between the first heading and the text beneath*/
    .top-content {
        margin-top: 20px;
        text-align: center; 
    }

    h1 {
        font-size: 3rem; 
        margin-bottom: 20px; 
    }

    p {
        font-size: 1.5rem; 
    }
</style>
